.search-btn {
    margin: 10px;
    border-radius: 1px;
    background: radial-gradient(circle at 50% -46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #f2f2f2;
    padding: 6px 18px;
    font-weight: 400;        
}

.reset-btn {
    margin: 10px;
    border-radius: 1px;
    background: radial-gradient(circle at 50% 0, #fff, #f1eceb);
    border: 1px solid #ccc3c3;
    font-weight: 600;
    padding: 6px 18px;
}

.user-list {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);

}

.all-users {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(128deg, rgba(247, 216, 159, 0.1), rgba(255, 255, 255, 0.2));
    /* box-shadow: 0 14px 28px 0 rgba(0,0,0,0.25), 0 10px 10px 0 rgba(0,0,0,0.26); */
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.user-img {
    height: 80px;
    width: auto;
    align-items: flex-start;
    margin: 5px;
}

.user-name {
    margin: 10px;
    text-align: left;
}

.add-f-btn {
    margin: 10px;
    padding: 8px 20px;
    border-radius: 1px;
    color: #ffffff;
    font-weight: 400;
    background: radial-gradient(circle at 50% -46%, #FF9770, #FF7A6E);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.remove-f-btn {
    margin: 10px;
    padding: 8px 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius: 1px;
    background: radial-gradient(circle at 50% -46%, #737373, #403D39);
    color: #ffffff;
    font-weight: 400;    
}

.page-btns {
    margin: 5px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    /* box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2); */
    background: none;
    color: #ffffff;
    font-size: 14px;
}

.page-btns-box {
    padding: 5px;
    background: linear-gradient(97deg, #FF7A6E, #FF9770);
    /* background: radial-gradient(circle at 50% -46%, #FF9770, #FF7A6E); */
}

@media all and (min-width: 920px) {

.page-btns-box {
    /* width: 80%; */
    margin: auto;
}
.page-btns {
    font-size: 18px;
}
    .add-f-btn {
        margin: 0px;
        margin-left: 0px;
        margin-right: 5px;
        padding: 8px 18px;
    }
    .remove-f-btn {
        margin: 0px;
        margin-right: 5px;
        padding: 8px 8px;

    }

    .no-matches-text {
        font-size: 36px;
        margin-top: 50px;
    }

    .reset-btn {
    font-size: 14px;

    }
    .search-btn {
    font-size: 14px;

    }

    .btn-box {
        display: flex;
    }

    .user-name {
        margin: 8px;
        margin-left: 2px;
        width: 40%;
    }

    .user-list {
        display: flex;
        width: 40%;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }

    .all-users {
        width: 80%;
        padding: 20px 0px;
    }

    .user-img {
        height: 100%;
        width: 80px;
        margin-left: 0px;
    }


}