.edit-btn {
    display: flex;
    margin: 5px;
    border-radius: 1px;
    background: radial-gradient(circle at 50% 0, #fff, #f1eceb);
    border: 1px solid #ccc3c3;
    font-family: 'Open Sans', sans-serif;
    padding: 6px 18px;
}

.dash-content {
    font-size: 14px;
}

.profile-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-img {
    height: 50px;
    width: 50px;
    align-items: flex-start;
    border: 1px solid #ccc3c3;
    margin: 5px;
}

.dash-name {
    font-weight: 600;
    text-align: left;
    margin-top: 0px;
    font-size: 14px;
}

p.welcome-msg {
    height: 100px;
    width: 45%;
    font-size: 12px;
    border: 1px solid #ccc3c3;
    margin-top: 20px;
    overflow-y: scroll;
}
.welcome-msg::-webkit-scrollbar { width: 0 !important }

.user-info {
    display: flex;
    height: 100px;
    width: 30%;
    margin-top: 10px;
    border: 1px solid #ccc3c3;
}

.user-list {
    display: flex;
    align-items: center;
    width: 60%;
}

@media all and (min-width: 920px) {
    
    .edit-btn {
        font-size: 14px;
        margin-top: 95px;
    }
    
.dash-content {
    display: flex;
    flex-direction: column;
}
    
.profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.user-img {
    height: 100px;
    width: 100px;
    border: 1px solid #ccc3c3;

}

.dash-name {
    font-weight: 600; 
    margin-top: 10px;
    font-size: 18px;
}

.welcome-msg {
    height: 110px;
    font-size: 14px;
    width: 30%;
    border: 1px solid #ccc3c3;
    padding: 16px;
    margin: 15px;
}

.user-info {
    display: flex;
    height: 142px;
}

}