.update-btn {
    margin: 5px;
    border-radius: 1px;
    background: radial-gradient(circle at 50% -46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #f2f2f2;
    padding: 6px 18px;
    
}

.clear-btn {
    margin: 5px;
    border-radius: 1px;
    background: radial-gradient(circle at 50% 0, #fff, #f1eceb);
    border: 1px solid #ccc3c3;
    font-weight: 600;
    padding: 6px 18px;
}

.btns {
    display: flex;
    flex-direction: column;
}

.user-info-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 80%;    
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding: 5px;
    border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    
}

.img-name-profile {
    display: flex;
    /* margin-right: 20px; */
}

input { 
    margin: 1px;
}

.profile-title {
    margin: 5px;
    margin-top: 15px;
}

.profile-container {
    margin-bottom: 30px;
    margin-top: 15px;
    width: 80%;
    height: 60vh;
    padding: 5px;
    padding-bottom: 15px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.all-profile-options {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 35vh;
}


@media all and (min-width: 920px) {

.update-btn {
    font-size: 14px;
}

.clear-btn {
    font-size: 14px;
}

.img-name-profile {
    display: flex;
    align-items: center;
    /* margin: auto; */
}

.btns {
    display: flex;
    flex-direction: row;
}

.user-info-profile { 
    height: 140px;
    justify-content: space-around;
    margin-top: 35px;

}

.profile-container {
    width: 80%;
    height: 60vh;  
    margin-top: 20px;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.profile-title { 
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
}

.profile-select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 50%; */
    height: 17%;
    margin: 2px 15px;
}

.all-profile-options {
    margin: auto;
    width: 75%;
    height: 80vh;
    margin-top: 20px;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

input {
    /* box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2); */
    border: 1px solid #FF9770;
    border-radius: 2px; 
    height: 22px;
    font-size: 14px;
    margin-left: 4px;
  }

}