.search-bar {
    margin-top: 20px;
}

.search-input{
    margin-left: 10px; 
}

.page-btns:hover {
    transform: scale(1.6,1.6);
    transition: transform 0.4s;
    transition-timing-function: ease-in-out;
}

.page-btns-box {
    padding: 5px;
    background: linear-gradient(97deg, #FF7A6E, #FF9770);
    margin: auto; 
    width: stretch;
    bottom: 0;
}

@media all and (min-width: 920px) {
.search-bar {
    margin-top: 30px;
}

.page-btns {
    font-size: 18px;
}

.page-btns-box {
    position: fixed;
}

}